@import "../../app/scss/colors.scss";

.img {
  width: 40px;
  height: 40px;
  display: none;
  transition: 0.8s;
}
.buttonTopBlock {
  margin: 0 auto;
  background-color: $white;
  .text {
    color: $black;
  }
}

.button {
  background-color: $black;
  .text {
    color: $white;
  }
}

.button,
.buttonTopBlock {
  padding: 16px 32px 16px 32px;
  width: 172px;
  height: 56px;
  border-radius: 60px;
  border: 1px solid $black;
  cursor: pointer;
  transition: 0.8s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 13px;

  .text {
    font-size: 16px;
    font-weight: 400px;
    text-transform: uppercase;
    transition: 0.8s;
    white-space: nowrap;
  }

  &:hover {
    background-color: $white;
    width: 205px;
    .text {
      color: $black;
    }
    .img {
      display: block;
    }
  }
}
