$ivory :#F4EFE8;
$peach: #E5DDD0;
$brown: #6F6257;
$brownLight: #A18D7C;
$black: #1A1917;
$white: #FFFFFF;
$blue: #0095DA;
$grey: #CCCCCC;

:export {
  ivory: $ivory ;
  peach: $peach;
  brown: $brown;
  brownLight: $brownLight;
  black: $black;
  white: $white;
  blue: $blue;
  grey: $grey;
}