$ivory: #f4efe8;
$peach: #e5ddd0;
$brown: #6f6257;
$brownLight: #a18d7c;
$black: #1a1917;
$white: #ffffff;
$blue: #0095da;
$grey: #cccccc;
$brownMedium: #e6ddd0;

:export {
  ivory: $ivory;
  peach: $peach;
  brown: $brown;
  brownLight: $brownLight;
  black: $black;
  white: $white;
  blue: $blue;
  grey: $grey;
  brownMedium: $brownMedium;
}
