@import '../../app/scss/colors.scss';

.header {
  background: linear-gradient(0deg, #E5DDD0FF, #24201CFF, );
  padding: 16px 20px;
}

.phone {
  border-radius: 60px;
  border: 1px solid $white;
  padding: 8px 16px;
  transition: 0.5s;
  cursor: pointer;

  .buttontext {
    color: $white;
    transition: 0.5s;
  }

  .iconWhite,
  .iconBlue {
    transition: opacity 0.5s;
  }
  .iconBlue {
    transition: opacity 0s;
  }

  &:hover {
    border: 1px solid $blue;

    .buttontext {
      color: $blue;
    }

    .iconWhite {
      opacity: 0;
      /* Скрываем PhoneIconWhite */
    }

    .iconBlue {
      opacity: 1;
      /* Показываем PhoneIconBlue */
    }
  }
}

.icon {
  background-image: url('./components/iconWhite.svg');
  width: 10px;
  height: 10px;
}