.icon,
.iconBurger {
  cursor: pointer;
  border-radius: 100%;
  border: none;
  margin-top: 1px;
  transition: 0.4s;
  &:hover {
    background-color: black;
    border: 1px solid black;
  }
}
.icon {
  border: 1px solid white;
}
.iconBurger {
  border: 1px solid black;
}
