.icon {
  cursor: pointer;
  border-radius: 100%;
  border: none;
  margin-top: 1px;
  border: 1px solid white;
  transition: 0.4s;
}
.icon:hover {
  background-color: black;
  border: 1px solid black;
}
